<h2>Admin Dashboard</h2>

<h3>Total Users: {{ total_users }}</h3>

<table border="1" cellpadding="8">
    <thead>
        <tr>
            <th>Role</th>
            <th>Username</th>
            <th>Email</th>
            <th>Date Joined</th>
            <th>Status</th>
            <th>Verified</th>
        </tr>
    </thead>

   <tbody>
    {% for user in users %}
    <tr>

        <td>{{ user.get_role_display }}</td>



        <td>
            <a href="{% url 'admin_app:user_profile' user.id %}">
                {{ user.username }}
            </a>
        </td>

        <td>{{ user.email }}</td>
        <td>{{ user.date_joined }}</td>

        <td>
            {% if user.is_active %}
                Active
            {% else %}
                Inactive
            {% endif %}
        </td>

        <td>
    {% if user.is_verified %}
        <span style="color:green; font-weight:600;">✔ Verified</span>
    {% else %}
        <span style="color:red; font-weight:600;">✖ Not Verified</span>
    {% endif %}
</td>

    </tr>
    {% endfor %}
</tbody>
</table>

<a href="{% url 'logout' %}">Logout</a>