
{% load static %}



<div style="max-width:500px; margin:40px auto;">

    <h2>Create New Post</h2>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <div style="margin-bottom:15px;">
            <label>Caption</label><br>
            {{ form.caption }}
        </div>

        <div style="margin-bottom:15px;">
            <label>Image</label><br>
            {{ form.image }}
        </div>

        <button type="submit"
            style="padding:8px 15px; background:black; color:white; border:none; border-radius:5px;">
            Post
        </button>

    </form>

</div>
