<h2>{{ restaurant.restaurant_name }}</h2>

<!-- Images -->
{% for img in images %}
    <img src="{{ img.image.url }}" width="250">
{% endfor %}

{% if restaurant.description %}
<h3>About</h3>
<p>{{ restaurant.description }}</p>
{% endif %}

{% if restaurant.property_type %}
<h3>Property Type</h3>
<p>{{ restaurant.property_type }}</p>
{% endif %}

{% if restaurant.opening_time or restaurant.closing_time %}
<h3>Opening Hours</h3>
<p>{{ restaurant.opening_time }} - {{ restaurant.closing_time }}</p>
{% endif %}

{% if restaurant.checkin_time or restaurant.checkout_time %}
<h3>Check-in / Check-out</h3>
<p>{{ restaurant.checkin_time }} / {{ restaurant.checkout_time }}</p>
{% endif %}

{% if restaurant.cuisine_type %}
<p><b>Cuisines:</b></p>

<div style="display:flex;flex-wrap:wrap;gap:8px;">
{% for cuisine in restaurant.cuisine_type %}
<span style="
background:#f2f2f2;
padding:6px 12px;
border-radius:20px;
font-size:13px;
">
{{ cuisine }}
</span>
{% endfor %}
</div>

{% endif %}
{% if restaurant.food_type %}
<h3>Food Type</h3>
<p>{{ restaurant.food_type }}</p>
{% endif %}

{% if restaurant.total_rooms or restaurant.room_type or restaurant.price_range %}

<h3>Accommodation</h3>

{% if restaurant.total_rooms %}
<p>Total Rooms: {{ restaurant.total_rooms }}</p>
{% endif %}

{% if restaurant.room_type %}
<p>Room Type: {{ restaurant.room_type }}</p>
{% endif %}

{% if restaurant.price_range %}
<p>Price Range: {{ restaurant.price_range }}</p>
{% endif %}

{% endif %}

{% if restaurant.wifi or restaurant.parking or restaurant.air_conditioning or restaurant.swimming_pool or restaurant.live_music or restaurant.pet_friendly or restaurant.room_service or restaurant.breakfast_availabe or restaurant.restaurant_available or restaurant.gym or restaurant.taxi_service %}

<h3>Amenities</h3>

<ul style="columns:2">

{% if restaurant.wifi %}<li>Wifi</li>{% endif %}
{% if restaurant.parking %}<li>Parking</li>{% endif %}
{% if restaurant.air_conditioning %}<li>Air Conditioning</li>{% endif %}
{% if restaurant.swimming_pool %}<li>Swimming Pool</li>{% endif %}
{% if restaurant.live_music %}<li>Live Music</li>{% endif %}
{% if restaurant.pet_friendly %}<li>Pet Friendly</li>{% endif %}
{% if restaurant.room_service %}<li>Room Service</li>{% endif %}
{% if restaurant.breakfast_availabe %}<li>Breakfast Available</li>{% endif %}
{% if restaurant.restaurant_available %}<li>Restaurant Available</li>{% endif %}
{% if restaurant.gym %}<li>Gym</li>{% endif %}
{% if restaurant.taxi_service %}<li>Taxi Service</li>{% endif %}

</ul>

{% endif %}

{% if restaurant.website or restaurant.instagram %}

<h3>Links</h3>

{% if restaurant.website %}
<p>🌐 <a href="{{ restaurant.website }}" target="_blank">Website</a></p>
{% endif %}

{% if restaurant.instagram %}
<p>📷 <a href="{{ restaurant.instagram }}" target="_blank">Instagram</a></p>
{% endif %}

{% endif %}

<a href="{% url 'travellers:book_property' restaurant.id %}" class="btn btn-primary">
    Book Now
</a>